<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
	<script src="js/mustache.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="files/css/element.css">
	<style>
		.platform-element-overlay:before {
			content: "Click Location Promo: ";
		}
		.platform-element-overlay{
			height: 50px;
		}
		.promo-controls.p-fixed{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 800;
		}
		.site-geo-promo{
			width: 100%;
			background: #00b3ee;
			font-size: 2em;
			color: #ffffff;
			text-align: center;
			padding: 5px;
			box-sizing: border-box;
			margin-bottom: 10px;
			min-height: 25px;
			}
	</style>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC67buWa4EcINgnnzxadU6lOCaKQV8FACc">
	</script>
</head>
<body>
<div >

	<div style="height: 5000px">
		I HAVE CONTENT HERE
	</div>

	<div id="element-dbf28cff-3d4b-4db9-98ce-e926fb53a5da" data-platform-element-id="516853834806047050-1.0.0" class="platform-element-contents">
		<div id="promoControls" class="promo-controls">
			<input type="hidden" name="latitude" class="latitude" value="28.538402">
			<input type="hidden" name="longitude" class="longitude" value="-81.380176">
			<input type="hidden" name="triggerRadius" class="triggerRadius" value="Same Country">
			<input type="hidden" name="promoText" class="promoText" value="PROMO TEXT IS ON">
			<input type="hidden" name="activeState" class="activeState" value="1">
			<input type="hidden" name="bgColor" class="bgColor" value="#4cc9a4">
			<input type="hidden" name="textColor" class="textColor" value="#81c94c">
			<script id="site-promo-temp" type="text/template">
				<div id="sitePromo" class="site-geo-promo">
					<div class="promo-text">
						{{text}}
					</div>
				</div>
			</script>
		</div>
	</div>
</div>

<script type="text/javascript">
	;(function($, Mustache){
		"use strict";

		var userLocation,
				promoLocation;

		promoLocation = {

			/**
			 * our init for promo location which assigns local vars and caches them
			 * @return undefined
			 */
			init: function(){
				this.cacheDom();
				this.bindEvents();
			},

			/**
			 * bind events
			 * @return undefind
			 */
			bindEvents: function() {
				var that = this;
				$(window).on('scroll', function (event) {
					var height = $(window).scrollTop();
					if(height > 300) {
						that.$el.addClass('p-fixed');
					} else if (height < 300) {
						that.$el.removeClass('p-fixed');
					}
				});
			},

			/**
			 * cache or dom elements we are going to use
			 * @return undefined
			 */
			cacheDom: function() {
				this.$el = $('#promoControls');
				this.$mainContainer = this.$el.closest('.platform-element-contents');
				this.promoLatitude = Number(this.$el.find('.latitude').val());
				this.promoLongitude = Number(this.$el.find('.longitude').val());
				this.userLatitude = '';
				this.userLongitude = '';
				this.userCountryId = null;
				this.promoCountryId = null;
				this.checkCountry = false;
				this.triggerRadius = this.getRadius(this.$el.find('.triggerRadius').val());
				this.promoText = this.$el.find('.promoText').val();
				this.template = this.$el.find('#site-promo-temp').html();
			},

			/**
			 * get the country Id from google maps geocoder using lat and long
			 * @param lat
			 * @param lng
			 * @return string
			 */
			getCountryId: function (lat, lng, handle) {
				var geocoder= new google.maps.Geocoder(),
						latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
				geocoder.geocode({'location': latlng}, function(results, status) {
					var country;
					if (status === 'OK') {
						if (results[1]) {
							for (var i=0; i<results[0].address_components.length; i++) {
								for (var b=0;b<results[0].address_components[i].types.length;b++) {
									if (results[0].address_components[i].types[b] == "country") {
										//this is the object you are looking for
										country = results[0].address_components[i];
										break;
									}
								}
							}
							this.setCounrtyData(country.short_name, handle);
						} else {
							console.log('No results found');
						}
					} else {
						console.log('Geocoder failed due to: ' + status);
					}
				}.bind(this));


			},

			/**
			 * strip text from string and return a number
			 * @param radius
			 * @return number
			 */
			getRadius: function(radius) {
				if(radius === 'Same Country') {
					this.setCheckCountry(true);
				}
				var radiusInt = radius.replace(/km/g, '');
				return Number(radiusInt);
			},

			/**
			 * Is the user in the radius set in the app
			 * @param latitude
			 * @param longitude
			 * @return bool
			 */
			isUserNearPromo: function() {
				if(this.getCheckCountry() && this.getPromoCountryId() === this.getUserCountryId()) {
					this.render();
				}
				var dif = this.radiusCheck(this.getUserLatitude(), this.getUserLongitude(), this.latitude, this.longitude);
				if (dif < this.triggerRadius) {
					this.render();
				}
			},

			/**
			 * Some Math That I use to know when I was a cad tech
			 * but dont remember
			 * @param deg
			 * @return int
			 */
			deg2Rad: function(deg) {
				return deg * Math.PI / 180;
			},

			/**
			 * look for
			 * @param lat1
			 * @param lon1
			 * @param lat2
			 * @param lon2
			 * @return {number}
			 */
			radiusCheck: function(lat1, lon1, lat2, lon2) {
				//convert Miles to Kilometers
				lat1 = this.deg2Rad(lat1);
				lat2 = this.deg2Rad(lat2);
				lon1 = this.deg2Rad(lon1);
				lon2 = this.deg2Rad(lon2);
				var R = 6371,
						x = (lon2 - lon1) * Math.cos((lat1 + lat2) / 2),
						y = (lat2 - lat1),
						d = Math.sqrt(x * x + y * y) * R;
				return d;
			},

			/**
			 * render our template on the dom
			 * @return undefined
			 */
			render: function() {
				this.$el.append(Mustache.render(this.template, {}));
				this.$el.find('.promo-text').append(this.promoText);
				$('body').prepend(this.$mainContainer);
			},

			/**
			 * set the user latitude
			 * @param int
			 * @return undefined
			 */
			setUserLatitude: function (latitude) {
				this.userLatitude = latitude;
			},

			/**
			 * set the user longitude
			 * @param int
			 * @return undefined
			 */
			setUserLongitude: function (longitude) {
				this.userLongitude = longitude;
			},

			/**
			 * set the country data
			 * @param data from geocoder
			 * @param handler
			 * @return undefined
			 */
			setCounrtyData: function (data, handle) {
				switch(handle) {
					case 'user':
						this.setUserCountryId(data);
						break;
					case 'promo':
					default:
						this.setPromoCountryId(data);
						break;
				}

				if(this.getPromoCountryId() && this.getUserCountryId()) {
					promoLocation.isUserNearPromo();
				}
			},

			/**
			 * set user country id
			 * @param data string
			 * @return undefined
			 */
			setUserCountryId: function (data) {
				this.userCountryId = data;
			},

			/**
			 * set promo country id
			 * @param data string
			 * @return undefined
			 */
			setPromoCountryId: function (data) {
				this.promoCountryId = data;
			},

			/**
			 * set the flag to use country as the check instead of the radius
			 * @param bool
			 * @return undefined
			 */
			setCheckCountry: function (status) {
				this.checkCountry = status;
			},

			/**
			 * get the user latitude
			 * @return int
			 */
			getUserLatitude: function () {
				return this.userLatitude;
			},

			/**
			 * get the user longitude
			 * @return int
			 */
			getUserLongitude: function () {
				return this.userLongitude;
			},

			/**
			 * get the user country code
			 * @return string
			 */
			getUserCountryId: function () {
				return this.userCountryId;
			},

			/**
			 * get the promo latitude
			 * @return int
			 */
			getPromoLatitude: function () {
				return this.promoLatitude;
			},

			/**
			 * get the promo longitude
			 * @return int
			 */
			getPromoLongitude: function () {
				return this.promoLongitude;
			},

			/**
			 * get promo country that was set in weebly admin
			 * @return string
			 */
			getPromoCountryId: function () {
				return this.promoCountryId;
			},

			/**
			 * get the status of the checkCountry flag
			 * @return bool
			 */
			getCheckCountry: function () {
				return this.checkCountry;
			}

		};

		userLocation = {
			/**
			 * Make ajax call to geo location to location
			 * @return undefined
			 */
			init: function() {
				var that = this,
						request = new XMLHttpRequest();
				request.open('POST', 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCVgzJFTJrzGjSKFjc7_hbLxRZeaOlMZdA', true);
				request.send();
				request.onload = function() {
					if (request.status >= 200 && request.status < 400) {
						// Success!
						var data = JSON.parse(request.responseText);
						that.getLocation(data);
					} else {
						// We reached our target server, but it returned an error
						console.log('request failed');

					}
				};
				request.onerror = function(errorThrown) {
					// There was a connection error of some sort
					console.log('request failed');
				};

			},

			/**
			 * call back for get current location and call or man module
			 * @param position
			 */
			getLocation: function(position) {
				promoLocation.init();
				promoLocation.getCountryId(promoLocation.getPromoLatitude(), promoLocation.getPromoLongitude(), 'promo');
				promoLocation.setUserLatitude(position.location.lat);
				promoLocation.setUserLongitude(position.location.lng);
				promoLocation.getCountryId(promoLocation.getUserLatitude(), promoLocation.getUserLongitude(), 'user');

			}
		};

		if(!$('body').hasClass('wsite-editor')) {
			userLocation.init();
		}


	})(jQuery, Mustache);
</script>

</body>
</html>