/**
 * Put all of your styles for your element in here!
 * @required
 */
code{
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	color: red;
	margin: 0px 5px;
}
strong{
	font-weight: bold;
	text-transform: uppercase;
}
.platform-element-overlay:before {
	content: "Edit Visitors Nearby Settings Here";
}
.platform-element-overlay{
	height: 50px;
}